/* Fonts */
/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General ccs structure*/
h2 {
    
}


/* Header*/
header {
    background-color: aqua;
}
/* Main Content*/ 
main {
    background-color: brown;
}

/* Footer*/